<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>创建洗衣套餐</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<div th:include="header"></div>
	<div class="container">
		<form action="#" th:action="@{/createWashWaySetting}" th:object="${setting}"
			method="post">
			<ul>
				<li th:each="m:${setting.msg}" th:text="${m}"></li>
			</ul>
			<span>排序番号越大，出现在下拉菜单的位置越靠前。</span>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td class="col-md-1">番号(自动採番)</td>
						<td class="col-md-5">排序号码(降序)</td>
						<td class="col-md-6">套餐名</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="wy,rowStat : ${setting.wylist}">
						<td><input type="number" readonly="readonly"
							th:value="${wy.washWayNumber}" style="background-color: #FFD"
							th:field="*{wylist[__${rowStat.index}__].washWayNumber}" /></td>
						<td><input type="number" th:value="${wy.sortNumber}"
							th:field="*{wylist[__${rowStat.index}__].sortNumber}"
							maxlength="" /></td>
						<td><input type="text" th:value="${wy.washWayName}"
							th:field="*{wylist[__${rowStat.index}__].washWayName}" />
							<span th:id="'msg'+${rowStat.index}"></span></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<input class="col-md-4 col-md-offset-2" type="submit" value="新增设置" />
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/setting.js" th:src="@{/js/setting.js}"></script>
</body>
</html>