<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>创建订单</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<style type="text/css">
</style>
</head>
<body>

	<div th:include="header"></div>
	<form id="createform" action="#" th:action="@{/createOrder}"
		th:object="${orderBean}" method="post">

		<ul th:if="${checkerror} != null">
			<li th:if="${checkerror}"
				style="font-style: italic; color: red; font-size: large;"
				th:text="'请点击放大镜查找顾客!'"></li>
		</ul>
		<div class="row">
			<label class="col-md-2">下单顾客姓名:</label> <input class="col-md-4"
				type="text" th:field="*{customerName}" th:value="${customerName}" />
			<img alt="检索" src="../../pic/search.jpg" height="20px" width="20px"
				onclick="search()" /> <span class="col-md-3" id="customerNameMsg"></span>
		</div>
		<div>
			<input type="hidden" th:field="*{customerNumber}"
				th:value="${customerNumber}" />
		</div>
		<div class="row">
			<label class="col-md-2">接单店铺名: </label> <select class="col-md-4"
				th:field="*{storeNumber}">
				<option th:each="store : ${storeList}"
					th:value="${store.storeNumber}" th:text="${store.storeName}"></option>
			</select>
		</div>
		<div class="row">
			<input class="col-md-3 col-md-offset-3" type="submit" value="创建订单"
				id="createordercommit" />
		</div>
	</form>
	<p></p>
	<form action="#" th:if="${inertedBean} != null">
		<h1 style="color: red">订单创建成功</h1>
		<h2>点击订单号码添加详情。</h2>
		<table border="1" class="table">
			<thead>
				<tr>
					<td class="col-md-3">订单号码</td>
					<td class="col-md-3">下单顾客</td>
					<td class="col-md-3">接单店铺</td>
					<td class="col-md-3">接单时间</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="#" th:text="${inertedBean.orderNumber}"
						onclick="goOrderDetails(this.innerText)"></a></td>
					<td><span th:text="${inertedBean.customerName}"></span></td>
					<td><span th:text="${inertedBean.storeName}"></span></td>
					<td><span th:text="${inertedBean.orderCreateDateStr}"></span></td>
				</tr>
			</tbody>
		</table>

	</form>
	<script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/createOrder.js" th:src="@{/js/createOrder.js}"></script>
</body>
</html>