<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">侯姐专业洗涤</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">首页</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--
	 <div class="seedstarterlist" th:unless="${#lists.isEmpty(inertedBean)}">
		<p th:text="{ '订单番号:' + ${inertedBean.orderNumber}}"></p>
		<p th:text="{ '订单番号:' + ${inertedBean.orderNumber}}"></p>
		<p th:text="{ '订单番号:' + ${inertedBean.orderNumber}}"></p>
		<p th:text="{ '订单番号:' + ${inertedBean.orderNumber}}"></p>
	</div>
	-->
	<span id="customerNumber" th:value="${choosedCustomer.customerNumber}"></span>
	<form id="createform" action="#"
		th:action="@{/createOrderwithid(id=${choosedCustomer.customerNumber})}"
		th:object="${orderBean}" method="post">
		<p>
			下单顾客姓名:<input type="text" id="customerName" name="customerName"
				readonly="readonly" th:value="${choosedCustomer.customerName}" /> <img
				alt="检索" src="../../pic/search.jpg" height="20px" width="20px"
				onclick="search()" />
		</p>
		<p></p>
		<p>
			接单店铺名: 
			<select th:field="*{storeNumber}">
				<option th:each="store : ${storeList}"
					th:value="${store.storeNumber}" th:text="${store.storeName}"></option>
			</select>
		</p>

		<input type="submit" value="创建订单" />
	</form>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../js/createOrder.js"></script>
</body>
</html>