<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>侯姐专业洗涤</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap-datetimepicker/2.3.5/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
	
	
<script type="text/javascript"
	src="webjars/bootstrap-datetimepicker/2.3.5/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap-datetimepicker/2.3.5/js/bootstrap-datetimepicker.min.js"></script>
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="../../js/welcome.js"></script>
<script type="text/javascript">
$('.datetimepicker1').datetimepicker({
    autoclose: true,
    todayHighlight: true
}) 	
</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class='col-sm-6'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 
	<label for="startDate">开始时间</label>
	<input id="startDate" class="form-control dateTime" type="text"
		name="startDate" />
	<script type="text/javascript">  
    $('#startDate').datetimepicker({  
        language:  'zh-CN',  
        weekStart: 1,  
        todayBtn:  1,  
        autoclose: 1,  
        todayHighlight: 1,  
        startView: 2,  
        minView: 2,  
        forceParse: 0  
    });  
</script>
 -->
</body>
</html>