<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">侯姐专业洗涤</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">首页</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">订单管理<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/order">订单查询</a></li>
							<li><div class="divider"></div></li>
							<li><a href="/createOrder">新建订单</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">顾客管理<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/createCustomer">新建顾客</a></li>
							<li><div class="divider"></div></li>
							<li><a href="/selectCustomer">顾客查询</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">店铺设置<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/thingSetting">衣 物 设置</a></li>
							<li><div class="divider"></div></li>
							<li><a href="/washWaySetting">洗衣途径设置</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">新增店铺设置<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/createThingSetting">衣 物 注 册</a></li>
							<li><div class="divider"></div></li>
							<li><a href="/createWashWaySetting">洗衣途径注册</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">统计信息<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/analysisOrder">订单统计</a></li>
							<li><div class="divider"></div></li>
							<li><a href="/payment">消费统计</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>


</body>
</html>