<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">侯姐专业洗涤</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">首页</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<form action="#" th:action="@{/order}" th:object="${cond}"
		method="post">
		<p>
			顾客姓名:<input type="text" th:field="*{customerName}"
				name="customerName" />
		</p>
		<p>
			顾客电话:<input type="text" th:field="*{customerPhoneNumber}"
				name="customerPhoneNumber" />
		</p>
		<p>
			别 名:<input type="text" th:field="*{otherName}" name="otherName" />
		</p>
		<p>
			管理番号:<input type="text" th:field="*{managementNumber}"
				name="managementNumber" />
		</p>
		<p>
			检索开始日:<input type="date" th:field="*{createDateStart}"
				name="createDateStart" />
		</p>
		<p>
			检索终了日:<input type="date" th:field="*{createDateEnd}"
				name="createDateEnd" />
		</p>
		<input type="submit" value="用此条件检索" />
	</form>

	<div class="container">

		<div class="table-responsive">
			<h1>订单一览</h1>
			<h4 th:text="'检索结果共 ' + ${orderResultCount} + 件"></h4>
			<table id="ordertable" class="table table-bordered table-striped">
				<tr>
					<td>选择</td>
					<td>订单号码</td>
					<td>物品件数</td>
					<td>下单日期</td>
					<td>顾客姓名</td>
					<td>电话号码</td>
					<td>接单店铺</td>
					<td>別名</td>
					<td>明细</td>
					<td>洗衣途径</td>
					<td>期望日</td>
					<td>取件日</td>
					<td>价格</td>
					<td>管理号码</td>
					<td>上门服务</td>
					<td>已删除</td>
					<td>删除日期</td>
					<td>已完成</td>
					<td>完成日期</td>
				</tr>
				<tr th:each="order : ${orderResultList}">
					<td><input id="selectorder" name="selectorder" type="checkbox" /></td>
					<td th:text="${order.orderNumber}" />
					<td th:text="${order.cleanThingDetailsNumber}" />
					<td th:text="${order.createDate}" />
					<td th:text="${order.customerName}" />
					<td th:text="${order.customerPhoneNumber}" />
					<td th:text="${order.storeName}" />
					<td th:text="${order.otherName}" />
					<td th:text="${order.washCountWashUnitThingNumber}" />
					<td th:text="${order.washWayName}" />
					<td th:text="${order.expectedDate}" />
					<td th:text="${order.realDate}" />
					<td th:text="${order.thingPrice}" />
					<td th:text="${order.managementNumber}" />
					<td th:text="${order.visitOrder}" />
					<td th:text="${order.deletedFlg}" />
					<td th:text="${order.deletedDate}" />
					<td th:text="${order.finishFlg}" />
					<td th:text="${order.finishDate}" />
				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>