<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>更改顾客信息及充值</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<div id="includedContent"></div>
	<div class="container">
		<div>
			<label> asasas</label>
		</div>
	</div>


	<script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../js/createCustomer.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#includedContent").load("/header");
		});
	</script>
</body>
</html>