<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>更改顾客信息及充值</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<div th:include="header"></div>>
	<div class="container">
		<form action="#" th:action="@{}" method="post">
			<div class="row">
				<label class="col-md-1">订单价格</label> <input class="col-md-5"
					type="number" th:field="" th:value="" /> <label class="col-md-1">订单价格</label>
				<input class="col-md-5" type="number" th:field="" th:value="" />
			</div>

			<div class="row">
				<label class="col-md-1">订单号码</label> <input type="hidden"
					th:value="${details.cleanThingNumber}"
					th:field="*{detailsList[__${rowStat.index}__].cleanThingNumber}" />
				<input class="col-md-5" type="number" readonly="readonly"
					th:value="${fromBean.orderNumber}" th:field="*{orderNumber}" /> <label
					class="col-md-1">订单明细番号</label> <input type="number"
					class="col-md-5" readonly="readonly"
					th:value="${details.cleanThingDetailsNumber}"
					th:field="*{detailsList[__${rowStat.index}__].cleanThingDetailsNumber}" />
			</div>
			<div class="row">
				<label class="col-md-1">洗衣件数</label> <input class="col-md-5"
					type="number" th:value="${details.washCount}"
					th:field="*{detailsList[__${rowStat.index}__].washCount}" /> <label
					class="col-md-1">洗衣单位</label> <select class="col-md-5"
					th:field="*{detailsList[__${rowStat.index}__].washUnit}">
					<option value="件" th:selected="${details.washUnit} == '件'">件</option>
					<option value="套" th:selected="${details.washUnit} == '套'">套</option>
					<option value="条" th:selected="${details.washUnit} == '条'">条</option>
					<option value="床" th:selected="${details.washUnit} == '床'">床</option>
					<option value="个" th:selected="${details.washUnit} == '个'">个</option>
					<option value="打" th:selected="${details.washUnit} == '打'">打</option>
				</select>
			</div>
		</form>
	</div>


	<script type="text/javascript"
		src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../js/createCustomer.js"></script>
</body>
</html>