<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>检索顾客</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<div id="includedContent"></div>
	<form action="#" th:action="@{/selectCustomer}" th:object="${cu}"
		method="post">
		<p>
			会员番号:<input type="text" th:field="*{customerNumber}"
				th:value="${customerNumber}" />
		</p>
		<p>
			顾客姓名:<input type="text" th:field="*{customerName}"
				th:value="${customerName}" />
		</p>
		<p>
			顾客电话:<input type="text" th:field="*{customerPhoneNumber}"
				th:value="${customerPhoneNumber}" />
		</p>
		<p>
			顾客性别:<select th:field="*{customerSex}">
				<option value="0" th:selected="${customerSex} == null"></option>
				<option value="1" th:selected="${customerSex} == '1'">男士</option>
				<option value="2" th:selected="${customerSex} == '2'">女士</option>
				<option value="3" th:selected="${customerSex} == '3'">其他</option>
			</select>
		</p>
		<p>
			顾客住址:<input type="text" th:field="*{customerAddress}"
				th:value="${customerAddress}" />
		</p>		
		<input type="submit" value="用此条件检索" />
	</form>

	<div class="container">

		<div class="table-responsive">
			<h1>顾客一览</h1>
			<h2>点击顾客对应的顾客番号可其更改个人信息及充值。</h2>
			<table id="customertable" class="table table-bordered table-striped">
				<tr>
					<td>顾客番号</td>
					<td>顾客名</td>
					<td>顾客电话</td>
					<td>顾客性别</td>
					<td>住址</td>
					<td>家庭构成人数</td>
					<td>账户余额</td>
				</tr>
				<tr th:each="cu : ${allCustomer}">
					<td><a href="#" th:text="${cu.customerNumber}"
						onclick="updateCustomer(this.innerText)"></a></td>
					<td th:text="${cu.customerName}"></td>
					<td th:text="${cu.customerPhoneNumber}" />
					<td th:text="${cu.customerSexStr}" />
					<td th:text="${cu.customerAddress}" />
					<td th:text="${cu.customerFamilies}" />
					<td th:text="${cu.accountBalance}" />
				</tr>
			</table>
		</div>

	</div>

	<script type="text/javascript" src="webjars/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function updateCustomer(value) {
			var linkadd = "/updateCustomer/" + value;
			window.location.href = linkadd;
		}
		$(function() {
			$("#includedContent").load("/header");
		});
	</script>
</body>
</html>