<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>侯姐专业洗涤</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<div id="container">
		<canvas id="star"></canvas>
	</div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseOne">订单管理 </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse row">
				<div class="panel-body">
					<button type="submit" class="btn btn-info col-md-3 col-md-offset-1"
						onclick="order()">订单查询</button>
					<button type="submit" class="btn btn-info col-md-3 col-md-offset-3"
						onclick="createOrder()">新建订单</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseTwo">顾客管理 </a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse row">
				<div class="panel-body">
					<button type="button" class="btn btn-info col-md-3 col-md-offset-1"
						onclick="createCustomer()">新建顾客</button>
					<button type="button" class="btn btn-info col-md-3 col-md-offset-3"
						onclick="selectCustomer()">顾客查询</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseThree">店铺设置 </a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<button type="button" id="updateThing"
							class="btn btn-info col-md-3 col-md-offset-1">衣 物 设置</button>
						<button type="button" id="updateWashWay"
							class="btn btn-info col-md-3 col-md-offset-3">洗衣途径设置</button>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapsefour">新增店铺设置 </a>
				</h4>
			</div>
			<div id="collapsefour" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<button type="button" id="createThing"
							class="btn btn-info col-md-3 col-md-offset-1">衣 物 注 册</button>
						<button type="button" id="createWashWay"
							class="btn btn-info col-md-3 col-md-offset-3">洗衣途径注册</button>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapsefive">统计信息</a>
				</h4>
			</div>
			<div id="collapsefive" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<button type="button" id="analysisOrder"
							class="btn btn-info col-md-3 col-md-offset-1">订单统计</button>
						<button type="button" id="analysisMoney"
							class="btn btn-info col-md-3 col-md-offset-3">消费统计</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../js/welcome.js"></script>
</body>
</html>